S3_ACCESS_KEY=access_key
S3_SECRET_KEY=secret_key
S3_REGION=region
S3_ENDPOINT=endpoint

LOGIN=login
PASSWORD=password
KEYCLOAK_URI=http://localhost:8082/realms/<realm-name>
KEYCLOAK_URL=http://localhost:8082/realms/<realm-name>/protocol/openid-connect/token
KEYCLOAK_CLIENT_ID=client_id
KEYCLOAK_CLIENT_SECRET=client_secret